.container{
    width: 345px;
    height: 50px;
    background: #EFF4FE;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}